<a href="https://colab.research.google.com/github/ranjukhanal11/ranjukhanal11/blob/main/04_SQL_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Essentials

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Assignment



Assignement for today

1. Start a notebook getting BigQuery to work. Feel free to use the authentication atop.
2. Navigate to the dataset 'austin_bikeshare.bikeshare_trips'
3. Compute the average time for a trip based on starting point
4. Compute how many trips start at each starting point.

## Q3: Compute the average time for a trip based on starting point

In [2]:
%%bigquery --project white-device-278509

select start_station_name ,avg(duration_minutes) as average from bigquery-public-data.austin_bikeshare.bikeshare_trips 
group by start_station_name

                        start_station_name    average
0                         Zilker Park West  27.168259
1                  Toomey Rd @ South Lamar  28.115798
2          State Capitol @ 14th & Colorado  30.421842
3                         Waller & 6th St.  23.265843
4                               Pease Park  28.648889
..                                     ...        ...
188  Republic Square @ Guadalupe & 4th St.  23.067313
189                             3rd & West  19.937466
190                               3rd/West  34.152547
191                          Nueces & 26th  16.805353
192                            26th/Nueces  24.521670

[193 rows x 2 columns]

In [3]:
%%bigquery --project white-device-278509

select start_station_name ,count(duration_minutes) as Total_Trips from bigquery-public-data.austin_bikeshare.bikeshare_trips 
group by start_station_name

                        start_station_name  Total_Trips
0                         Zilker Park West         1361
1                  Toomey Rd @ South Lamar         3627
2          State Capitol @ 14th & Colorado         5265
3                         Waller & 6th St.         5744
4                               Pease Park          675
..                                     ...          ...
188  Republic Square @ Guadalupe & 4th St.        11038
189                             3rd & West        23683
190                               3rd/West         6634
191                          Nueces & 26th        17673
192                            26th/Nueces         5007

[193 rows x 2 columns]

## Me Playing Around

I wanted to find why 'vodka' wasn't in the table.  Well it was but with other qualifiers.  I needed to use a string command `LIKE` I also looked at `CONTAINS` but didn't get it to work.

In [ ]:
%%bigquery --project pic-math
SELECT category_name
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE category_name LIKE '%Vodka%'
GROUP BY category_name

             category_name
0           Imported Vodka
1           American Vodka
2          American Vodkas
3          Imported Vodkas
4  American Flavored Vodka
5  Imported Flavored Vodka